In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('communities.csv')
df.head()

,8,?,?.1,Lakewoodcity,1,0.19,0.33,0.02,0.9,0.12,...,0.12.2,0.26.1,0.2.1,0.06.3,0.04.2,0.9.1,0.5.2,0.32.2,0.14.3,0.2.2
0,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.0,?,0.67
1,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.0,?,0.43
2,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.0,?,0.12
3,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.0,?,0.03
4,6,?,?,SouthPasadenacity,1,0.02,0.28,0.06,0.54,1.00,...,0.01,0.58,0.10,?,?,?,?,0.0,?,0.14

In [26]:
X = df.loc[: , df.columns[1]:]
y = df[df.columns[0]]

In [31]:
X, y

(       1  0.19  0.33  0.02   0.9  0.12  0.17  0.34  0.47  0.29  ...  0.12.1  \
 0      1  0.00  0.16  0.12  0.74  0.45  0.07  0.26  0.59  0.35  ...    0.21
 1      1  0.00  0.42  0.49  0.56  0.17  0.04  0.39  0.47  0.28  ...    0.14
 2      1  0.04  0.77  1.00  0.08  0.12  0.10  0.51  0.50  0.34  ...    0.19
 3      1  0.01  0.55  0.02  0.95  0.09  0.05  0.38  0.38  0.23  ...    0.11
 4      1  0.02  0.28  0.06  0.54  1.00  0.25  0.31  0.48  0.27  ...    0.70
 ...   ..   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...     ...
 1988  10  0.01  0.40  0.10  0.87  0.12  0.16  0.43  0.51  0.35  ...    0.22
 1989  10  0.05  0.96  0.46  0.28  0.83  0.32  0.69  0.86  0.73  ...    0.53
 1990  10  0.16  0.37  0.25  0.69  0.04  0.25  0.35  0.50  0.31  ...    0.25
 1991  10  0.08  0.51  0.06  0.87  0.22  0.10  0.58  0.74  0.63  ...    0.45
 1992  10  0.20  0.78  0.14  0.46  0.24  0.77  0.50  0.62  0.40  ...    0.68

       0.42  0.5.1  0.51.1  0.64  0.12.2  0.26.1  0.2.1  0.32.2  0.2.2
 0     0.50   0.34    0.60  0.52    0.02    0.12   0.45    0.00   0.67
 1     0.49   0.54    0.67  0.56    0.01    0.21   0.02    0.00   0.43
 2     0.30   0.73    0.64  0.65    0.02    0.39   0.28    0.00   0.12
 3     0.72   0.64    0.61  0.53    0.04    0.09   0.02    0.00   0.03
 4     0.42   0.49    0.73  0.64    0.01    0.58   0.10    0.00   0.14
 ...    ...    ...     ...   ...     ...     ...    ...     ...    ...
 1988  0.28   0.34    0.48  0.39    0.01    0.28   0.05    0.00   0.09
 1989  0.25   0.17    0.10  0.00    0.02    0.37   0.20    0.00   0.45
 1990  0.68   0.61    0.79  0.76    0.08    0.32   0.18    0.91   0.23
 1991  0.64   0.54    0.59  0.52    0.03    0.38   0.33    0.22   0.19
 1992  0.50   0.34    0.35  0.68    0.11    0.30   0.05    1.00   0.48

 [1993 rows x 101 columns],
 0       53
 1       24
 2       34
 3       42
 4        6
         ..
 1988    12
 1989     6
 1990     9
 1991    25
 1992     6
 Name: 8, Length: 1993, dtype: int64)

In [32]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=0)

In [33]:
lr = LinearRegression().fit(X_train, y_train)

print(f"Linear Regression-Training set score: {lr.score(X_train, y_train):.2f}")
print(f"Linear Regression-Test set score: {lr.score(X_test, y_test):.2f}")

Linear Regression-Training set score: 0.50
Linear Regression-Test set score: 0.38

Linear Model trained with L1 prior as regularizer (aka the Lasso).

In [34]:
lasso = Lasso(alpha=1.0).fit(X_train, y_train)
print(f"Lasso Regression-Training set score: {lasso.score(X_train, y_train):.2f}")
print(f"Lasso Regression-Test set score: {lasso.score(X_test, y_test):.2f}")

Lasso Regression-Training set score: 0.08
Lasso Regression-Test set score: 0.08

In [35]:
print(f"Number of features: {sum(lasso.coef_ != 0)}")

Number of features: 3

In [36]:
lasso = Lasso(alpha=0.01).fit(X_train, y_train)
print("Lasso Regression-Training set score: {:.2f}".format(lasso.score(X_train, y_train)))
print("Lasso Regression-Test set score: {:.2f}".format(lasso.score(X_test, y_test)))

Lasso Regression-Training set score: 0.48
Lasso Regression-Test set score: 0.39

In [37]:
print(f"Number of features: {sum(lasso.coef_ != 0)}")

Number of features: 68

Linear least squares with L2 regularization

In [38]:
ridge = Ridge(alpha=0.7).fit(X_train, y_train)
print(f"Ridge Regression-Training set score: {ridge.score(X_train, y_train):.2f}")
print(f"Ridge Regression-Test set score: {ridge.score(X_test, y_test):.2f}")

Ridge Regression-Training set score: 0.49
Ridge Regression-Test set score: 0.38

Linear regression with combined L1 and L2 priors as regularizer

In [39]:
elastic_net = ElasticNet(alpha=0.01, l1_ratio=0.01).fit(X_train, y_train)
print(f"Elastic Net-Training set score: {elastic_net.score(X_train, y_train):.2f}")
print(f"Elastic Net-Test set score: {elastic_net.score(X_test, y_test):.2f}")

Elastic Net-Training set score: 0.44
Elastic Net-Test set score: 0.37

Метод L1 є найкращим для нормальзації набору даних.